body {
  background-color:#ffffff;
}

hr.style1 {
	border-top: 3px double #cfd2e2;
}

.hidden {
visibility: hidden;
display: none;
}

#content {
  width: 80%;
  left:15%;
  background-color:#ffffff;
  padding-left:20px;
  padding-top:30px;
  padding-bottom:30px;
  margin-right:20px;
  font-family:helvetica, sans-serif;
  font-size:12pt;
}
#menu {
  float:left;
  width:15%;
  height:350px;
  text-align:left;
  background-color:#D7CEB2;
  padding-left:4px;
  font-family:helvetica, sans-serif;
  font-size:8pt;
  color: #8A8370;
  overflow:auto;
}
#menu a:link, a:active, a:visited {
  color: #3E3724;
  text-decoration: none;
  font-weight: bold;
}
#results {
  font-family:helvetica, sans-serif;
  font-size: 8pt;
  padding-bottom:30px;
  color: #8A8370;
  position:absolute;
  left:15%;
}
#results a:link, a:active, a:visited {
  color: #3E3724;
  text-decoration: none;
  font-weight: bold;
}
td {
    height: 50px;
    vertical-align: top;
    padding-left:15px;
}
th {
    font-weight:bold;
}
 
